* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: moccasin;
  min-height: 100vh;
  text-align: center;
}

.searchbox{
  padding-top: 3em;
}

#my-label {
  font-size: 2em;
}

#search {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  font-size: 1.2em;
}

/* .matches {
  border: solid 1px grey;
  width: 16em;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style: none;
  margin: 0 auto;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
} */

li {
  border: solid 1px grey;
  width: 16em;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style: none;
  margin: 0 auto;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: .2em;
  padding-right: .2em;
}

.city-name {
  text-align: left;
  padding-right: 0.4em;
}

.state-name {
  text-align: left;
  flex-grow: 1;
}

.population {
  font-size: .7em;
}
